section.dream
  .container
    h2.dream__title
      | How Dreamshare works?
    .dream__cards
      figure.dream__card
        img(src='images/Step 1 image.jpg', alt='work')
        figcaption.dream__card-caption
          a.dream__card-btn(href='#') Step 1
          h3.dream__card-title Sed leo enim, condimentum
          p.dream__card-paragraf
            | Quisque libero libero, dictum non turpis in, luctus semper
            | lorem. Donec rhoncus a leo sit amet facilisis.
      figure.dream__card
        img(src='images/Step 2.jpg', alt='work')
        figcaption.dream__card-caption
          a.dream__card-btn(href='#') Step 2
          h3.dream__card-title Morbi velit risus
          p.dream__card-paragraf
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
            | sit amet porttitor est.
      figure.dream__card
        img(src='images/Step 3 image.jpg', alt='work')
        figcaption.dream__card-caption
          a.dream__card-btn(href='#') Step 3
          h3.dream__card-title Sed leo enim, condimentum
          p.dream__card-paragraf
            | Quisque libero libero, dictum non turpis in, luctus semper
            | lorem. Donec rhoncus a leo sit amet facilisis.
section.partners
  .container
    h2.partners__title
      | Meet a partner for your best holiday
    .partners__cards
      .partners__card
        .partners__images
          img.partners__card-avatar(src='images/hunter.jpg', alt='photo')
          img.partners__card-icon(src='images/ikon-music.svg', alt='')
        h3.partners__name
          | Bradley Hunter
        p.partners__info Based in Chicago. I love playing tennis and loud music.
      .partners__card
        .partners__images
          img.partners__card-avatar(src='images/bennet.jpg', alt='photo')
          img.partners__card-icon(src='images/ikon-paint.svg', alt='photo')
        h3.partners__name
          | Marie Bennett
        p.partners__info Currently living in Colorado. Lover of art, languages and travelling.
      .partners__card
        .partners__images
          img.partners__card-avatar(src='images/wells.jpg', alt='photo')
          img.partners__card-icon(src='images/camera.svg', alt='photo')
        h3.partners__name
          | Diana Wells
        p.partners__info
          | Living in Athens, Greece. I love black and white classics, chillout music
          | and green tea.
      .partners__card
        .partners__images
          img.partners__card-avatar(src='images/pirce.jpg', alt='photo')
          img.partners__card-icon(src='images/fly.svg', alt='photo')
        h3.partners__name
          | Christopher Pierce
        p.partners__info
          | Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .partners__inner
      a.partners__btn(href='#') See other partners
section.holiday
  .container
    h2.holiday__title Discover holiday activity ideas
    .holiday__gallery
      figure.holiday__gallery-image
        img(src='images/gallery-img1.png', alt='runing')
        figcaption
          h3.holiday__gallery-title Sports and Activis
      figure.holiday__gallery-image
        img(src='images/gallery-img2.png', alt='Healath')
        figcaption
          h3.holiday__gallery-title Wellness and Health
      figure.holiday__gallery-image
        img(src='images/gallery-img3.png', alt='Extreme')
        figcaption
          h3.holiday__gallery-title Extreme Sports and Expeditions
      figure.holiday__gallery-image
        img(src='images/gallery-img4.png', alt='Extreme')
        figcaption
          h3.holiday__gallery-title Games
      figure.holiday__gallery-image.holiday__gallery-column
        img(src='images/gallery-img5.png', alt='Culture')
        figcaption
          h3.holiday__gallery-title Culture and Education
      figure.holiday__gallery-image.holiday__gallery-column
        img(src='images/gallery-img6.png', alt='Relax')
        figcaption
          h3.holiday__gallery-title Enjomet and Relaxation
      figure.holiday__gallery-image
        img(src='images/gallery-img7.png', alt='Trevel')
        figcaption
          h3.holiday__gallery-title Trevelling
section.activity
  .container
    .activity__inner
      h2.activity__title Crate your holiday activity
      p.activity__paragraf Hi! What are your holiday interests?
      form.activity__form
        input.activity__form-fild(type='text', placeholder='Enter your insterests')
        button.activity__form-btn(type='button') Search partners