footer.footer
  .container
    .footer__inner
      .footer__dreamshare
        | DREAMSHARE
      .footer__company
        h3.footer__company-title Company
        ul.footer__company-list
          li.footer__company-item
            a.footer__company-link(href='#') About
          li.footer__company-item
            a.footer__company-link(href='#') Contact
          li.footer__company-item
            a.footer__company-link(href='#') Press
          li.footer__company-item
            a.footer__company-link(href='#') Blog
          li.footer__company-item
            a.footer__company-link(href='#') Terms and Privacy
          li.footer__company-item
            a.footer__company-link(href='#') Help
      .footer__partners
        | Partners
      .footer__logo
        p.footer__logo-paragraf DESIGNED BY
        a(href='#')
          img(src='images/logo-footer.png', alt='logo')
