header.header
  .container
    .header__inner
      .header__logo
        a.header__logo-link(href='#')
          | DREAMSHARE
      .header__registr
        button.header__registr-btn(type='submit')
          | Log in
        button.header__registr-btn(type='submit')
          | Sign up
    .header__box
      h1.header__title SHARE YOUR HOLIDAY DREAM
      p.header__title-paragraf And find the perfect partner to full fill it
      a.header__title-btn(href='#') Find your holiday partner
